<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Fetching All Products</h1>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati, ipsa vitae. Accusamus deserunt minus saepe maxime distinctio asperiores atque enim aspernatur necessitatibus. Voluptas harum obcaecati necessitatibus suscipit eaque porro sunt cum laboriosam ex.</p>

  <br>
  <br>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, aut fugiat pariatur nihil repellendus voluptatem dignissimos ipsa nam, doloremque accusamus libero. Alias, enim adipisci neque, maiores cupiditate iusto voluptate odio mollitia blanditiis aperiam non, cum minus hic perferendis nihil velit tempore asperiores consequatur quis!
  </p>
</body>
</html>